<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content=
		"width=device-width,
		initial-scale=1.0" />

	<title>Pre-Assessment</title>

	<style>
		#clock {
			font-size: 175px;
			width: 900px;
			margin: 20px;
			text-align: center;
			border: 2px solid black;
			border-radius: 20px;
		}
	</style>
</head>

<body>
    <h1> Welcome </h1>
    <h2>For Front End Project: The Running Timer </h2>
	<div id="clock">8:10:45</div>
    <h2>For Back End Project: Golang backend API </h2>
    <h4> The entire Api is written in Golang</h4>
    <h4>Example</h4>
    <h5>/7 : add the given value to 10, return JSON result as {"Sum": 17}</h5>
    <h5>/7/23 : add the given values i..e 7+23, return JSON result as {"Sum": 30}</h5>

	<script>
		setInterval(showTime, 1000);
		function showTime() {
			let time = new Date();
			let hour = time.getHours();
			let min = time.getMinutes();
			let sec = time.getSeconds();
			am_pm = "AM";

			if (hour > 12) {
				hour -= 12;
				am_pm = "PM";
			}
			if (hour == 0) {
				hr = 12;
				am_pm = "AM";
			}

			hour = hour < 10 ? "0" + hour : hour;
			min = min < 10 ? "0" + min : min;
			sec = sec < 10 ? "0" + sec : sec;

			let currentTime = hour + ":"
				+ min + ":" + sec + am_pm;

			document.getElementById("clock")
				.innerHTML = currentTime;
		}

		showTime();
	</script>
</body>

</html>
